<nav>
  <a routerLink="/" style="font-weight: bold; text-decoration: none; color: #333;">TSPark Sport</a>
  
  @if (authService.isLoggedIn()) {
    <span class="separator">|</span>
    <a routerLink="/gym-halls" routerLinkActive="active-link">Salles</a>
    
    <span class="separator">|</span>
    <a routerLink="/challenges" routerLinkActive="active-link">Défis</a>

    <span class="separator">|</span>
    <a routerLink="/invitations" routerLinkActive="active-link">Invitations</a>
    
    @if (authService.isAdmin()) {
      <span class="separator">|</span>
      <a routerLink="/users" routerLinkActive="active-link">Utilisateurs</a>
      
      <span class="separator">|</span>
      <a routerLink="/exercise-types" routerLinkActive="active-link">Types Exos</a>
    }
    
    <span class="separator">|</span>
    <a routerLink="/profile" routerLinkActive="active-link">Mon Profil</a>
    
    <span class="separator">|</span>
    <button (click)="logout()" class="btn-logout">Déconnexion</button>
    
    <span class="user-info">
      {{ authService.getCurrentUser()?.firstName }} 
      <small>({{ authService.getCurrentUser()?.role }})</small>
    </span>

  } @else {
    <span class="separator">|</span>
    <a routerLink="/login" routerLinkActive="active-link">Connexion</a>
    <span class="separator">|</span>
    <a routerLink="/register" routerLinkActive="active-link">Inscription</a>
  }
</nav>
<hr>